<% if(success.length) { %> 
    <div class="col s8 push-s2 chip chip-success center-align">
        <%= success %>
        <i class="close material-icons">close</i>
    </div>
<% } %> 

<% if(error.length) { %> 
    <div class="col s8 push-s2 chip chip-error center-align">
        <%= error %>
        <i class="close material-icons">close</i>
    </div>
<% } %>
